.git
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.coverage
.coverage.*
coverage.xml
htmlcov/
venv
.venv
env/
.env
.env.*
.github
tests
docs
scripts
.pylintrc
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
Makefile
LICENSE.txt
README.md
requirements-dev.txt
.pre-commit-config.yaml
*.log
*.log.*
test_logs_*/
!api/interfaces/**