services:
  trading_bot:
    build: .
    command: [
      "--assets-conf=examples/configurations/backtest-assets.yaml",
      "--backtest-mode=true",
      "--backtest-source=/workspace/examples/coinmarketcap/history"
    ]
    volumes:
      - ./examples/:/workspace/examples/
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      APP_ENV: production
      DATABASE_CONNECTION_HOST: postgres:5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DATABASE: ${POSTGRES_DATABASE}
  postgres:
    image: postgres:16
    container_name: trading-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER" ]
      interval: 5s
      timeout: 5s
      retries: 5