langchain-core~=1.5.3
ccxt
pandas~=2.3.3
alembic==1.18.5
circuitbreaker~=2.1.3
pydantic~=2.13.4
pydantic-settings~=2.14.2
requests~=2.34.2
schedule~=1.2.2
PyYAML~=6.0.3
websocket-client~=1.9.0
SQLAlchemy~=2.0.51
psycopg2-binary~=2.9.12
cachetools~=7.1.6
langchain-ollama~=1.1.0